<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inscription</title>
    </head>
    <body>
        <div class="center">
            <h1>Inscription</h1>
            <div class="form-container">
                <input class="form-input" type="email" placeholder="Email" id="email">
                <input class="form-input" type="text" placeholder="Nom" id="nom">
                <input class="form-input" type="text" placeholder="Prénom" id="prenom"> 
                <input class="form-input" type="password" placeholder="Mot de passe" id="mdp">
                <input class="form-input" type="password" placeholder="Confirmer le mot de passe" id="confirm_mdp">
                <button class="form-button" id="register">S'inscrire</button>
                
            </div>
        </div>
    </body>
    </html>

<script src="../js/register.js" type="module"></script>